
<div class="container" >
  <div style="display: inline-flex;" class="selector">
    <mat-form-field style="padding-left: 1%; width: 400px;">
      <mat-label>Choose a manifest</mat-label>
      <mat-select name="manifest" (selectionChange)="getManifestDetails($event.value)">
        <mat-option *ngFor="let manifest of manifests;let i = index" value="{{manifest.id}}">
          <p *ngIf="manifest.total_price >= 1000;">ID: {{manifest.transaction_id}} &emsp; &nbsp; &nbsp; &nbsp; Amount: {{manifest.total_price | currency: '$'}} &nbsp; &nbsp; Date: {{manifest.date_purchased | date: 'M/d/yyyy'}}</p>
          <p *ngIf="manifest.total_price < 1000;">ID: {{manifest.transaction_id}} &emsp; &nbsp; &nbsp; &nbsp; Amount: {{manifest.total_price | currency: '$'}} &nbsp; &nbsp; &nbsp; &nbsp; Date: {{manifest.date_purchased | date: 'M/d/yyyy'}}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <h4 *ngIf="current_manifest" class="auction-title">{{ current_manifest.auction_title }}</h4>
  <form class="tables" [formGroup]="draft">



    <table class="table table-striped items-table">
      <thead>
        <tr style="font-weight: 700;" align="center" bgcolor="99CCFF">
          <th>Item</th>
          <th>Quantity</th>
          <th>MSRP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items;let i = index" class="table-row ">
          <td class="table-detail" >{{item.name}}</td>
          <td class="table-detail">{{ item.quantity }}</td>
          <td class="table-detail">{{ item.price }}</td>

        </tr>
        <tr style="font-weight: 700;" align="center" >
          <th >Total</th>
          <th>{{manifestQuantity}}</th>
          <th>${{priceTotal.toFixed(2)}}</th>
        </tr>
      </tbody>
    </table>



    <table class="table table-striped products-table">
      <thead>
        <tr style="font-weight: 700;" align="center" bgcolor="99CCFF">
          <th>SKU</th>
          <th>Listing Title</th>
          <th>Listing Condition</th>
          <th>Condition Desc</th>

          <th>Quantity</th>
          <th>List Price</th>
          <th></th>
          <th></th>
          <th></th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let product of products;let i = index" class="table-row">

          <td  style="width: 15%;" class="table-detail">

            <input  class="form-control" formControlName="sku"   value={{product.sku}}>
          </td>
          <td class="table-detail">
              <input  class="form-control" formControlName="title"  placeholder="Sony XM3">
          </td>
          <td class="table-detail">
              <select class="form-control"  formControlName="condition"  >
                <option value="Used"> Used</option>
                <option value="New Open">New Open</option>
                <option value="Parts">Parts</option>
              </select>
          </td>
          <td style="width: 15%;" class="table-detail">
            <input  class="form-control" formControlName="conditionDesc"  placeholder="Item is in used good condition">
        </td>
          <td class="table-detail">1</td>
          <td class="table-detail" style="width: 10%;"><input   class="form-control" formControlName="price" type="number" placeholder="$350" ></td>
          <td class="table-detail btn-detail">
            <button type="button" class="btn form-btn btn-sm">Save Draft</button>
          </td>
          <td class="table-detail btn-detail">
            <button type="button" class="btn form-btn btn-sm">Update SKU</button>
          </td>
          <td class="table-detail btn-detail">
            <button type="button" class="btn form-btn btn-sm btn-danger">Not Listed</button>
          </td>

        </tr>

      </tbody>
    </table>

</form>

  <br>
  <h4 *ngIf="current_manifest" class="summary">ID: {{current_manifest.transaction_id}} &emsp; &nbsp; &nbsp; Amount: {{current_manifest.total_price | currency: '$'}} &nbsp; &nbsp; Date: {{current_manifest.date_purchased | date: 'M/d/yyyy'}} </h4>

</div>

