/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
} */

/* .playerContainer{
  width: 110%;
  height: 110%;
} */
body {
  margin: 0;
  overflow: hidden;
}
#myVideo {
height: 100%;
left: 0px;
position: fixed;
top: 0px;
width: 100%;
}
#sqbigcover3 {
  display: block;
  position: fixed;
  z-index: 99;
  background-color: transparent;
  height: 58px;
  width: 58px;
  top: 0px;
  right: 0px;
  /* margin-right: -13%; */
}
