@media only screen and (max-width: 801px) {
  .text-item{
      display: none;
 }
  .spacer{
      display: none;
 }
  .mobileHeader{
      color: black;
      font-size: 8vw;
      padding-left: 35vw;
 }
}
.navbar-default .navbar-brand{
  font-size: 16pt;
  color: white;
  font-weight: 300;
}
.navbar-brand{
  padding-left: 10%;
}
.navbar-header{
  width: 50%;
  padding-left: 7%;
}


/* Show it is fixed to the top */
.navbar-static-top.navbar{
  background-color: #373A3C;
}
.navbar.navbar-default {
  background-color: #373A3C;
  border: 0;

}
.navbar.navbar-default .navbar-collapse {
  border: 0;

}
.nav.navbar-nav li a {
  color: white;
  letter-spacing: 1px;
  font-size: 13pt;
  font-weight: 300;
}
