<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header" style="margin-top: 1%;">
      <a routerLink="/" class="navbar-brand" >
          Listing Tool
      </a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" style="display: flex; align-items: center;">
      <!-- <ul class="nav navbar-nav navbar-left" style="height: 100%;  margin-top: .5%; order: 0;" >
        <li><a routerLink = "/action">Action</a></li>
        <li><a routerLink="/comedy">Comedy</a></li>
        <li><a routerLink = "/thriller">Thriller</a></li>
        <li><a routerLink="/drama">Drama</a></li>
        <li><a routerLink = "/horror">Horror</a></li>
        <li><a routerLink="/animation">Animation</a></li>
      </ul> -->
      <!-- <ul class="nav navbar-nav navbar-right">
          <li>
              <a>
                  <form [formGroup]="form" (submit)="onSearch()" class="form-inline my-2 my-md-0">
                          <input matInput formControlName="search" class="form-control" type="text" placeholder="Search">
                          <button type="submit" style="display:none">hidden submit</button>
                  </form>
              </a>

            </li>
      </ul> -->
    </div>


</div>
</nav>
