<div style="height: 800px; width: 100%;">
    <h1>Privacy Policy</h1>

    <p>We respect the privacy of our visitors and we are committed to protect it. This policy describes the information we collect and how it is being used.
    
        We do not have a registration system, and we never ask our visitors for any information, personal or otherwise. We collect limited information that the browser made available while visiting the site, and that includes the access time, the link clicked, the referring URL, the browser type, cookies that might identify the browser, and the IP addresses while the visitors are on our website. And we use this information to improve our services.
        
        A cookie is a small piece of data that is sent to a user's browser from a web server and is stored on the browser locally. We only use the cookie to store your preferences.
        
        Visiting hdmv.pw means that you accept this policy agreement.</p>
</div>
