
<div class="container " > 
  <div style="display: inline-flex; padding-right: 10%;" >
    <h4 style="text-align: left;">Liquidation</h4>
    <div style="padding-left: 10%;">
      <a>
        <form [formGroup]="form" (submit)="onEnterLink(0)" class="form-inline my-2 my-md-0">
                <input matInput formControlName="search" class="form-control" type="text" placeholder="Enter Link">
                <button type="submit" style="display:none">hidden submit</button>
        </form>
      </a>
    </div>
  </div>

  
  
<h3>{{link}}</h3>
<form [formGroup]="priceForm"  >

<table class="table table-striped">  
  <thead>
    <tr style="font-weight: 700;" align="center" bgcolor="99CCFF">
       <th>Product</th>
       <th>Quantity</th>
       <th>Price</th>
       <th>Grade</th>
    </tr>
 </thead>
  <tbody>

    <tr *ngFor="let data of datakeys;let i = index">

      <td >{{linkData[data]["Product"]}}</td>
      <td style="text-align: left;">{{ linkData[data]["Quantity"] }}</td>
      <td style="text-align: left;">{{ linkData[data]["Price"] }}</td>
      <td style="text-align: left;">{{ linkData[data]["Grade"] }}</td>

      
    </tr>
    <tr style="font-weight: 700;" align="center" >
      <th >Total</th>
      <th>{{quantityTotal}}</th>
      <th>${{priceTotal.toFixed(2)}}</th>
      <th></th>
      
   </tr>
  </tbody>
  
</table>



</form>
<br>


<h3>Example Links To Enter</h3>
<h4>Liquidation: https://www.liquidation.com/aucimg/14372/m14372943.html</h4>

  <!-- <div class="flexContainer">
    <div class="" *ngFor="let movie of movies; let i = index">
      <div class="movie">
        <p style="text-align: center; word-wrap: break-word; width: 210px; font-size: 18px;">{{movie.Title}} </p>
        <div  class="img"  [ngStyle]="{'background-image':'url(' + getImage(movie.Image) + ')', 'background-size': '210px 280px' }" ></div>
        <div  [ngClass]="{bcolor: selected==i}" class="img divMargin"></div>
          <div (click)="selectMovie(movie._id)" type="button" class="img divMargin"  (mouseenter)="enableDiv(i)" (mouseleave)="diableDiv(i)">
            <div   class="movie-text" *ngIf="selected == i">
              <br>
              Genre: {{movie['movie information'].Genre}}
              <br>
              Rating: {{movie['movie information'].Rating}}
              <br>
              <br>
              <p class = 'small'>{{movie['movie information'].Synopsis}}</p>
              <br>
              Movie Resolution: {{movie['movie information'].Resolution}}
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
 
