
<div class="container " >
  <div style="display: inline-flex;">
    <mat-form-field style="padding-left: 1%; width: 400px;">
      <mat-label>Choose a manifest</mat-label>
      <mat-select [(ngModel)]="selected" name="manifest" (selectionChange)="getManifestDetails($event.value)">
        <mat-option *ngFor="let manifest of manifests;let i = index" value="{{manifest.id}}">
          ID: {{manifest.transaction_id}} &emsp; &nbsp; &nbsp; Amount: ${{manifest.total_price}} &nbsp; &nbsp; Date: {{manifest.date_purchased.toString().substr(0,10)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <h3 *ngIf="current_manifest">{{ current_manifest.auction_title }}</h3>

<table class="table table-striped">
  <thead>
    <tr style="font-weight: 700;" align="center" bgcolor="99CCFF">
       <th>Product</th>
       <th>Quantity</th>
       <th>Price</th>
       <th>Grade</th>
    </tr>
 </thead>
  <tbody>

    <tr *ngFor="let product of products;let i = index">

      <td >{{product.title}}</td>
      <td style="text-align: left;">{{ product.quantity }}</td>
      <td style="text-align: left;">{{ product.price }}</td>
      <td style="text-align: left;">{{ product.grade }}</td>


    </tr>
    <tr style="font-weight: 700;" align="center" >
      <th >Total</th>
      <th>{{manifestQuantity}}</th>
      <th>${{priceTotal.toFixed(2)}}</th>
      <th></th>

   </tr>
  </tbody>

</table>

<br>
<h3 *ngIf="current_manifest">ID: {{current_manifest.transaction_id}} &emsp; Amount: ${{current_manifest.total_price}} Date: {{current_manifest.date_purchased.toString().substr(0,10)}}</h3>

</div>

