.selector{
    padding-top: 1%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.selector{
    order: 0;
}

.auction-title{
    order: 1;
}
.tables{
    order: 2;
    display: flex;
    justify-content: center;
}

.summary{
    order: 3;
}


.items-table{
    order: 0;
    width: 30%;
}

.products-table{
    order: 1;
    width: 70%;
}

.table-row{
    height: 60px;
}

.table-detail{
    vertical-align: middle;
}